<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookmanager.comment.mapper.CommentMapper">
    <insert id="addComment" parameterType="com.bookmanager.comment.dto.Comment">
        insert into comment (my_number,p_number,isbn,message,comment_time,like_count)
        values (#{comment.myNumber},#{comment.parNumber},#{comment.isbn},#{comment.message},#{comment.commentTime},#{comment.likeCount})
    </insert>

    <update id="updateComment" parameterType="com.bookmanager.comment.dto.Comment">
        update comment set like_count=#{comment.likeCount} where id = #{comment.id}
    </update>

    <select id="findAllComment" parameterType="int" resultType="com.bookmanager.comment.dto.Comment">
        select my_number,p_number as parNumber,isbn,message,comment_time,like_count from comment where p_number = #{isbn} and isbn = #{isbn} order by like_count desc
    </select>

    <select id="findSunComment" parameterType="com.bookmanager.comment.dto.Comment" resultType="com.bookmanager.comment.dto.Comment">
        select my_number,p_number as parNumber,isbn,message,comment_time,like_count from comment where isbn = #{comment.isbn} and p_number = #{comment.myNumber} order by comment_time desc
    </select>

    <select id="find" parameterType="int" resultType="com.bookmanager.comment.dto.RComment">
        select comment.id as mid,my_number,p_number as parNumber,comment.isbn,username as myname,name,message,comment_time,like_count from
        comment,book,employee where book.isbn=comment.isbn and employee.job_number=comment.my_number
        and comment.p_number = #{isbn} and comment.isbn = #{isbn} order by like_count desc
    </select>

    <select id="findSun" parameterType="com.bookmanager.comment.dto.RComment" resultType="com.bookmanager.comment.dto.RComment">
        select comment.id as mid,my_number,p_number as parNumber,comment.isbn,username as myname,name,message,comment_time,like_count from comment,book,employee where book.isbn=comment.isbn and employee.job_number=comment.my_number and comment.isbn = #{comment.isbn} and p_number = #{comment.myNumber} order by comment_time desc
    </select>

    <select id="findRSun" parameterType="com.bookmanager.comment.dto.RComment" resultType="string">
        select username as pname from comment,employee where employee.job_number=comment.p_number and comment.id = #{comment.mid}
    </select>
</mapper>